
body{
    font-family: 'Open Sans', sans-serif; font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 220px;
}
.nav-title{
    color:#181818;
    font-size: 45px;
    font-weight: 800;
}
.nav-title span{
    color: #FD6E0A;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    color:#474747;
}
.nav-btn{
    padding: 18px 35px;
    color:#FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
}
/* Header section */
.header{
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    display: flex;
    /* padding: 30px 30px 0px 150px; */
    align-items: center;
    justify-content: space-between;
    margin-left: 220px;
    margin-right: 38px;
}
.profile-pic{
    width: 584px;
    height: 676px;
}
.banner-greet{
    color:#474747;
    font-size: 45px;
    margin-bottom: 0px;
}
.banner-title{
    color:#181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0;
}
.banner-p{
    margin-top: 20px;
    color:#757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
}
.banner-content{
    width: 585px;
}
.banner-content button{
    margin-top: 20px;
    margin-right: 30px;
}